<!DOCTYPE html>
<html lang="en">
<head><meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   
    <script>
        // add this script before loading "RTCMultiConnection.min.js"
       // window.getExternalIceServers = true;
        </script><script src="RTCMultiConnection.min.js"></script>
<script src="adapter.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> 
<link rel="stylesheet" href="getHTMLMediaElement.css">
<script src="getHTMLMediaElement.js"></script>
    <script src="index.js"></script>
    <script>

window.enableAdapter = true; 
    </script>
    <title>Document</title>
</head>
<body>
    <div class="example" style="margin:auto;max-width:500px">
        join:  <input type="text"id='room-id' placeholder="join room-id.." name="search2">
          <button type="submit" id="join-room"><i class="fa fa-search"></i></button>
    </div>  
  
    <!-- <video id="videos-container" autoplay playsinline></video> -->
      <div id="videos-container" style="margin: 20px 0;"></div>

</body>
</html>

